# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
.env/
.venv/
env/
venv/

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Results and outputs
results/

# Streamlit cache
.streamlit/

# Test cache
testing/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
