# Python cache files
__pycache__/
*.pyc
*.pyo

# Pytest cache files
.pytest_cache/

# Virtual environments
.env/
.venv/
env/
venv/

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Results and outputs
performance/

# Test cache
testing/__pycache__/